DATABASE_URL="file:./prisma/dev.db"
APP_VARIANT="main"
AUTH_SECRET=""
AUTH_URL="http://localhost:3010"
VITE_TLDRAW_LICENSE_KEY=""
VITE_API_BASE_URL=""
CODEX_OAUTH_REDIRECT_URI=""
CODEX_OAUTH_LOCAL_CALLBACK=""
CODEX_IMAGE_PROXY_BASE_URL=""
CODEX_IMAGE_PROXY_API_KEY=""
UPDATE_CHANNEL="stable"
UPDATE_MANIFEST_URL=""
GEMINI_BRIDGE_API_KEY=""
GEMINI_BRIDGE_HOST="127.0.0.1"
GEMINI_BRIDGE_PORT="8317"
GEMINI_SECURE_1PSID=""
GEMINI_SECURE_1PSIDTS=""
GEMINI_WEBAPI_PROXY=""
GEMINI_CLIENT_TIMEOUT_SECONDS="120"
IMAGE_OPTIMIZER_URL=""
IMAGE_OPTIMIZER_TOKEN=""
IMAGE_OPTIMIZER_TIMEOUT_MS="120000"
IMAGE_OPTIMIZER_DENOISE="soft"
IMAGE_OPTIMIZER_STRENGTH="35"
IMAGE_OPTIMIZER_RADIUS="3"
IMAGE_OPTIMIZER_SIGMA=""
